<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to console  -->
        <target xsi:type="ColoredConsole" name="All">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
                <attribute name="level" layout="${level}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" EscapeForwardSlash="false" />
            </layout>
        </target>

        <!-- write request logs to console -->
        <target xsi:type="ColoredConsole" name="Console">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
                <attribute name="level" layout="${level}" />
                <attribute name="category" layout="${event-properties:item=category}" />
                <attribute name="request" encode="false">
                    <layout type="JsonLayout" renderEmptyObject="false">
                        <attribute name='method' layout="${aspnet-request-method}" />
                        <attribute name="url"
                                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}"
                                   EscapeForwardSlash="false" />
                        <attribute name="remote_ip" layout="${aspnet-request-ip}" EscapeForwardSlash="false" />
                        <attribute name="ua" layout="${aspnet-request-useragent}" EscapeForwardSlash="false" />
                        <attribute name="host" layout="${aspnet-request-host}" />
                    </layout>
                </attribute>
                <attribute name="response" encode="false">
                    <layout type="JsonLayout" renderEmptyObject="false">
                        <attribute name="status_code" layout="${aspnet-response-statuscode}" />
                    </layout>
                </attribute>
                <attribute name="exception" encode="false">
                    <layout type="JsonLayout" renderEmptyObject="false">
                        <attribute name="type" layout="${exception:format=Type}" />
                        <attribute name="message" layout="${exception:format=Message}" />
                        <attribute name="stack" layout="${exception:format=StackTrace}" />
                    </layout>
                </attribute>
                <attribute name="properties" encode="false">
                    <layout type='JsonLayout' includeAllProperties="true" excludeProperties="category" renderEmptyObject="false" />
                </attribute>
            </layout>
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- write to request tracker console -->
        <logger name="Console" levels="Info,Error" writeTo="Console" final="true" />

        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="All" />
    </rules>
</nlog>